@{
    Layout="Shared/_Layout.cshtml";
}


<div class="row">
    <form class="" action="/recipes" method="post">
        <h2>TEST</h2>
        <hr>
        <input type="text" name="recipe-name" placeholder="Recipe name">
        <input type="text" name="recipe-description" placeholder="Describe this dish">
        <input type="text" name="recipe-instructions" placeholder="cooking instructions">
        <select class="" name="assign-category" placeholder="Assign a category">
        @foreach(var category in @Model["categories"])
        {
                <option value='@category.GetCategoryId()'>@category.GetCategoryName()</option>
        }
        </select>
        <br>
        <button type="submit" name="button" class="btn btn-sm">Add Recipe</button>
    </form>
</div>

<div class="row">
    <ol>
        @foreach(var recipe in @Model["recipe"])
        {
            <a href="/recipe/@recipe.GetRecipeId()/@recipe.GetRecipeName()">@recipe.GetRecipeName()</a>
            <p>@recipe.GetDescription()</p>
        }
    </ol>

    @* @foreach (var ingredient in @Model["ingredients"])
    {
        <input type="checkbox" name="boxtest" value="pie">

    } *@




</div>
